*{
    font-family: 'Gothic A1', sans-serif;
}
.nav-link{
    color: black;
    font-weight: 700;
    font-size: 12pt;
    padding-left: 0;
    padding-right: 30px;
}
.mino-title, .mino-title>span{
    font-family: 'Angkor', cursive;
    font-size: 20pt;
}
header{
    padding-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(228, 224, 224);
}
.mino-align-right{
    text-align: right;
}
.mino-footer {
    border-top: 1px solid rgb(228, 224, 224);
    padding-top: 20px;
    background-color: rgb(36, 33, 46);
    color: aliceblue;
    padding: 20px 50px;
    font-size: 14px;
}
.mino-footerDetail {
    line-height: 25px;
}
.mino-footerHr {
    height: 1px;
    background: rgb(131, 130, 130);
    border: 0;
}
.mino-mainImg {
    height: 250px;
    background-image: url("/public/img/mainpageImg.png");
}
.mino-card {
    height: 300px;
}
.mino-card > img {
    width: inherit;
    height: 200px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border: 1px solid rgb(216, 213, 213);
    border-radius: 5px;
}
.mino-bold {
    font-weight: 500;
}
.mino-card-body span {
    font-size: 14px;
    color: rgb(104, 103, 103);
}
.mino-reviewListTable {
	width: 100%;
    text-align: center;
    table-layout: fixed;
}
.mino-reviewListTable tr{
	width: 100%;
}
.mino-reviewListTable th{
	border-bottom: 1px solid rgb(228, 224, 224);
	padding-bottom: 10px;
}
.mino-reviewListTable td{
	padding-top:10px;
}
.mino-reviewContent{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.mino-mypageBtn a{
	text-decoration: none;
	cursor: pointer;
	color: black;
	font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap');
.jisoo-modify-font *{
	font-family: 'Noto Sans KR', sans-serif!important;
}