<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="connectCode.mapper.FileMapper">

	<!-- <sql id="fileColumns">
		  file_serial_number
		, file_no
		, origin_name
		, physical_name
		, file_url
		, size
		, extension
	</sql> -->


	<select id="getMaxSerial" parameterType="int" resultType="int">
		SELECT COALESCE(MAX(file_serial_number),0)+1 AS file_serial_number
			FROM file
		WHERE file_no = #{file_no}
	</select>


	<insert id="dbSaveFile" parameterType="FileDTO">
	
		INSERT INTO file(
			  file_no
			, file_serial_number
			, origin_name
			, physical_name
			, file_url
			, size
			, extension
		) values (
			  #{file_no}
			  #{file_serial_number}
			, #{origin_name}
			, #{physical_name}
			, #{file_url}
			, #{size}
			, #{extension}
		)
	</insert>

</mapper>