<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="connectCode.mapper.HomeMapper">
	
	<select id="getPopularMentorList" resultType="FindMentorDTO">
		SELECT mentor_no, name, technology, mentoring_location, company, years, file_url, physical_name 
		FROM (
				SELECT mentor.mentor_no, name, technology, mentoring_location, company, years, profile_img_no
				FROM mentor INNER JOIN (SELECT * 
										FROM career 
										WHERE (mentor_no, entering_date) IN (SELECT mentor_no, MAX(entering_date) 
																			 FROM career
																			 WHERE  mentor_no IN (SELECT mentor_no
																								   FROM (SELECT mentor_no, COUNT(mentor_no) cnt 
																										 FROM mentoring INNER JOIN service 
																														ON (mentoring.service_no = service.service_no) 
																										 GROUP BY mentor_no 
																										 ORDER BY cnt DESC
																										 limit 8) A)
																			 GROUP BY mentor_no)) B
							ON (mentor.mentor_no = B.mentor_no)) C 
			                INNER JOIN file ON (C.profile_img_no = file.file_no)
	</select>
	
	<select id="getRecentReviewList" resultType="HomeReviewListDTO">
		SELECT mentor.name mentor_name, mentor.mentor_no, service.mentoring_kind, (SELECT name FROM mentee WHERE mentee_no = mentoring.mentee_no) mentee_name, review.reg_date, review.rating, mentor.mentor_no, review.content
		FROM mentor INNER JOIN service ON mentor.mentor_no = service.mentor_no
					INNER JOIN mentoring ON service.service_no = mentoring.service_no
		            INNER JOIN review ON mentoring.mentoring_no = review.mentoring_no
		ORDER BY review.reg_date DESC
		LIMIT 5
	</select>
	
</mapper>