<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="connectCode.mapper.MentorMapper">

<!-- Mentor 테이블 mentor_no으로 member_no 조회 -->
<select id="select_member_no" resultType="int">
	SELECT member_no
	FROM mentor
	WHERE mentor_no=#{mentor_no}
</select>

<!-- Mentor 테이블 mentor_no으로 조회 [mentor 테이블 전체 & 재직중인 회사 & 알람수 조회] -->
<select id="mentorProfile" resultType="MentorDTO">
	SELECT
	 *
	FROM mentor m
	LEFT JOIN (
		SELECT mentor_no, company, entering_date, departure_date 
		FROM career 
		WHERE departure_date IS NULL
		) c 
	USING (mentor_no)
	LEFT JOIN (
		SELECT COUNT(*) AS alarm_count, receiver_mem_no AS member_no 
		FROM alarm 
		WHERE receiver_mem_no = #{member_no} group by receiver_mem_no) a 
	USING (member_no)
	LEFT JOIN file f 
	ON m.profile_img_no = f.file_no
	WHERE mentor_no=#{mentor_no}
</select>

<select id="education_select" resultType="MentorDTO">
	SELECT 
	  *, entering_date e_date, graduation_date g_date
	FROM education 
	WHERE mentor_no = #{mentor_no}
</select>

<select id="career_select" resultType="MentorDTO">
	SELECT 
	  *, entering_date e_date, departure_date d_date
	FROM career
	WHERE mentor_no = #{mentor_no}
</select>

<!-- <select id="file_select" resultType="">
	SELECT 
	  * 
	FROM file
	WHERE file_no = #{file_no}
</select> -->

<!-- mentor 테이블 update -->
<update id="mentorTBL_update" parameterType="MentorDTO">
	<selectKey keyProperty="file_no" resultType="int" order="BEFORE">
		SELECT COALESCE(MAX(file_no),0)+1 AS file_no
		FROM file
	</selectKey>

	UPDATE mentor 
	SET 
	
	<choose>
		<!-- 경우 1 -->
		<when test="intro != null and unable_date != null and mentoring_time != null">
			intro = #{intro},
			<if test="files.size() != 0">
			profile_img_no = #{file_no},
			</if>
			unable_date = #{unable_date},
			mentoring_time = #{mentoring_time}
		</when>
		<!-- 경우 2 -->
		<when test="bank != null and account != null and account_name != null">
			bank = #{bank},
			account = #{account},
			account_name = #{account_name}
		</when>	
	</choose>
	
	WHERE mentor_no = #{mentor_no}
	
</update>
<!-- 	UPDATE mentor 
	SET intro = #{intro} 
	 , unable_date = #{unable_date}  
	 , mentoring_time = #{mentoring_time} 
	WHERE mentor_no = #{mentor_no} -->

<!-- <insert id="fileInsert">
	
</insert> -->

<!-- mentor 테이블 update -->
<update id="mentorPerson_update" parameterType="MentorDTO">
	UPDATE mentor 
	SET phone = #{phone} 
	 , email = #{email}  
	WHERE mentor_no = #{mentor_no}
</update>

<!-- service 테이블 insert -->
<insert id="serviceTBL_insert" parameterType="MentorDTO">
	INSERT INTO service (
	 mentoring_kind, mentoring_fee, mentor_no, available_NY
	) VALUES (
	    #{mentoring_kind}
	  , #{mentoring_fee}
	  , #{mentor_no}
	  , #{available_NY}
	)
</insert>

<!-- service 테이블 select -->
<select id="serviceTBL_select" resultType="MentorDTO">
	SELECT
	  * 
	FROM service 
	WHERE mentor_no = #{mentor_no}
</select>

<!-- service 테이블 update -->
<update id="serviceTBL_update" parameterType="MentorDTO">
	UPDATE service 
	SET
	   mentoring_fee = #{mentoring_fee}
	 , available_NY = #{available_NY}
	WHERE mentor_no = #{mentor_no} and mentoring_kind = #{mentoring_kind}
</update>

<insert id="education_insert" parameterType="MentorDTO">
	<selectKey keyProperty="file_no" resultType="int" order="BEFORE">
		SELECT COALESCE(MAX(file_no),0)+1 AS file_no
		FROM file
	</selectKey>

	INSERT INTO education (
		school, entering_date, graduation_date, degree, major, minor, file_no, mentor_no
	) VALUES (
		#{school},concat(#{entering_date},'-01'),concat(#{graduation_date},'-01'),#{degree},#{major},#{minor},#{file_no},#{mentor_no}
	)
</insert>

<insert id="career_insert" parameterType="MentorDTO">
	<selectKey keyProperty="file_no" resultType="int" order="BEFORE">
		SELECT COALESCE(MAX(file_no),0)+1 AS file_no
		FROM file
	</selectKey>
	
	INSERT INTO career (
		company, entering_date, departure_date, task, years, file_no, mentor_no
	) VALUES (
		#{company}, #{entering_date}, #{departure_date}, #{task}, #{years}, #{file_no}, #{mentor_no}
	)
</insert>

</mapper>